body{
    background-color: rgb(0, 0, 0);
    color:#fff;
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}
/* Navbar */
.navbar{
    display: flex;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  position: relative;
}
.navbar ul li a{
  margin: 0 0.8rem;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li a:hover{
    color: #1c9e62;
}
/* Header Section */
header{
    height: 115vh;
    width: 100vw;
}
a{
    text-decoration: none;
    color:#7F8487;
}
.header-section{
    margin-top:10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.myimg{
    display: flex;
    justify-content: center;
}
.myimg img{
    width:80%;
    filter: grayscale(100%) contrast(154%);
}

#headertxt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/*Adding number and mail*/
.cards{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
.card{
    background-color:#242424;
    padding:1%;
    width:180px;
    text-align: left;
    text-indent: 0.3rem;
    margin: 2vh;

}
.card p{
    color:#7F8487;
}
.card:hover, td:hover{
    border-left: solid 0.2rem #1c9e62;
    margin-right: 0.2rem;
}
  /*Underline for headings*/
.underline-border{
    width: 0.2rem;
    height: 2.5rem;
    background-color: #1c9e62;
    margin: 5px auto 10px auto;
}
.headings{
    text-align: center;
 }
 /* About me section */
 section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 #about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }
 article{
    background-color:#242424;
    padding: 20px;
 }
 article h3{
    color: #1c9e62;
    font-size: large;
 }
 article:hover{
    border-left:solid #1c9e62;
 }

/*Resume table*/
table{
    border-spacing: 1vw;
 }
th{
    padding: 2%;
    font-size: x-large;
    width:24vw;
 }
td{
    height: 21vh;
    width: 20vw;
    background-color:#242424;
    font-size: larger;
    padding-left: 1vw;
  }
span{
    font-size: medium;
    color: #1c9e62;
}
  /*footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
details{
    padding-top: 3vh;
    margin: auto;
}
details:hover{
    color: #1c9e62;
}
details > summary {
    list-style-type: none;  
    cursor: pointer;
}
ul{
    list-style: none;
  }
li a{
    color: #fff;
} 
li a:hover{
    color: #1c9e62;
}
details li::before {
    content: "• ";
    color: #1c9e62;
}
.icons{
    padding: 3rem;
    text-align: center;
}
.icons a{
    padding: 1rem;
    text-align: center;
}
.icons a:hover{
    color: #1c9e62;
}
footer p {
    word-spacing: 0.5rem;
    text-align: center;
    font-size: smaller;
    color:#7F8487;
}
#dot{
    font-size: 2rem;
}



